body{
    padding: 1em;
    font-family: 'Roboto Mono', monospace;
    background-color: black;
    color: white;
}

.container {
    max-width: 38em;
}

p {
    text-align: justify;
    font-size: 1em;
}

a, a#icon, #brandNameFooter{
    color: yellow;
    transition: transform 2s ease-out, font-size 2s;
}

a:hover{
    text-decoration: none;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.5, 1.5);
    font-size: 1.2em;
    
}

.rainbowColor{
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

a#icon:hover{
   
    transform: scale(1.5, 1.5);
    font-size: 1.2em;
    -webkit-text-fill-color: violet;
}

.text-muted{
    font-size: 0.7rem;
}

#brandNameFooter:hover{
    text-decoration: none;
    background-image: linear-gradient(to left, violet, indigo, blue, green, yellow, orange, red);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    transform: scale(1.2, 1.2);
    font-size: 1.2em;
}

/* Video Content */

.homepage-hero-module {
    border-right: none;
    border-left: none;
    position: fixed;
  }

  .no-video .video-container video,
  .touch .video-container video {
    display: none;
  }

  .no-video .video-container .poster,
  .touch .video-container .poster {
    display: block !important;
  }

  .video-container {
    position: fixed;
    bottom: 0%;
    left: 0%;
    height: 100%;
    width: 100%;
    overflow: hidden;
    background: #000;
   
}
  .video-container .poster img {
    width: 100%;
    bottom: 0;
    position: absolute;
  }

  .video-container .filter {
    z-index: -100;
    position: absolute;
    background: rgba(0, 0, 0, 0.4);
    width: 100%;
 
  }

  .video-container video {
    position: absolute;
    z-index: 0;
    bottom: 0;
  }

  .video-container video.fillWidth {
    width: 100%;
  }

  /* Web Portfolio */

  .album-container{
    position: relative;
    margin: 10px auto;
    width: 250px;
    height: 250px;
    perspective: 1000px;
}

.picture{
    width: 100%;
    height: 100%;
    box-shadow: -5px 5px 5px #aaaaaa;
    transform-style: preserve-3d;
    transition: all 1.0s linear;
}

.front{
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 2;
    transform: rotateY(0deg);
    backface-visibility: hidden;
}

.back{
    position: absolute;
    width: 100%;
    height: 100%;
    padding: 10px;
    color: white;
    text-align: center;
    background-color: #aaaaaa;
    transform: rotateY(180deg);
}

.album-container:hover .picture{
    transform: rotateY(180deg);
}